
<div class="col-md-9 postform ">

	<p><%= f.label 'Заголовок: ' %><br>
	<%= f.text_field :title, class: "form-input" %></p>

	<p><%= f.label 'Категорія: ' %><br>
	<%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: true },
	    class: "btn btn-default dropdown-toggle category-field" %></p>


	<p><%= f.label 'Фото: ' %><br>
	<%= f.file_field :image, class: "inputfile" %></p>


	<br><p><%= f.label 'Текст: ' %><br>
	<%= f.text_area :body, :class => "tinymce", cols: 20, rows: 15 %></p>
	<%= tinymce %>

	<br><p><%= f.submit "Опублікувати" %></p>

</div>

